@import "bootswatch/_variables";
@import "variables";

// theme widgets
@import "../../../content/scss/theme/widgets";

body {
  min-height: 75rem;
  // adjust according to navbar height
  padding-top: 4.5em;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: blue;
}
