  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto Mono'>
  <link rel="stylesheet" href="{{get_media('css/custom_bootstrap.css')}}">
  <link rel="stylesheet" href="{{get_media('css/vendor/bsicons/bootstrap-icons.css')}}">
  <link rel="stylesheet" href="{{get_media('css/vendor/fontawesome/css/all.css')}}">
  <link rel="stylesheet" href="{{get_media('css/vendor/jquery.smartmenus.bootstrap.css')}}">
  <link rel="stylesheet" href="{{get_media('css/vendor/animate.min.css')}}">
  <link rel="stylesheet" href="{{get_media('css/main.css')}}">

  <script src="{{get_media('js/bootstrap.bundle.min.js')}}" type="text/javascript"></script>
  <script src="{{get_media('js/jquery.js')}}" type="text/javascript"></script>
