{# Hero

  hero is a band under the navbar used to display title and some notes. hero must
  be inserted in page out of content list.

  Note! adjust padding-top to navbar height

parameters:
  id: give a unique ID to every widget in the page
  class: set additional classes for the widget
  image: background image for hero
  title: if not present takes the page.title
  height: height in pixels if not present gets 200px
  text: if not present take the page.description
  caption_class: class for caption part of hero
  caption_style: inline style for caption part of hero
#}
{% if page.hero %}
  <style>
    #{{page.hero.id}} {
      background-image: url({{get_media(page.hero.image)}});
      min-height: {{page.hero.height or 200}}px;
    }
  </style>
  <div class="hero text-center {{page.hero.class}}" id="{{page.hero.id}}">
    <div class="{{page.hero.caption_class}}" style="{{page.hero.caption_style}}">
    <h1 class="display-5 fw-bold">{{page.hero.title or page.title}}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{(page.hero.text or page.description)|safe}}</p>
    </div>
    </div>
  </div>
{% endif -%}

