<div class="fixed-top">
  {%- if header_links -%}
  <div class="top-header-area {{ navbar_style }}">
    <div class="container-fluid">
      <div class="row align-items-center" style="text-align: right;">
        <div class="top-info-area">
          {% for item in header_links -%}
          {{ item|safe }}
          {% endfor -%}
        </div>
      </div>
    </div>
  </div>
  {%- endif -%}
  <nav class="navbar navbar-expand-lg {{ navbar_style }}">
    <div class="container-fluid">
      <a class="navbar-brand p-0 me-2" href="{{get_url('index')}}"><img src="{{ get_media('images/logo.png')}}"
          alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        {% if navbar_right %}
        <div class="navbar-nav me-auto navbar-nav-scroll"></div>
        <ul id="main-menu" class="navbar-nav d-flex">
        {% else %}
        <ul id="main-menu" class="navbar-nav me-auto navbar-nav-scroll">
        {% endif %}
          {% for item in MainMenu -%}
          {% if not (item.static_out and is_static) -%}
          {% if "drop" in item -%}
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">{{ item.name }}</a>
            <ul class="dropdown-menu">
              {% for drop in item.drop -%}
              {% if not (drop.static_out and is_static) -%}
              {% if "drop" in drop -%}
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">{{ drop.name }}</a>
                <ul class="dropdown-menu">
                  {% for drop2 in drop.drop -%}
                  <li><a class="dropdown-item {{iif(page.pagename == drop2.url,'active')}}"
                      href="{{get_url(drop2.url)}}">{{ drop2.name }}</a></li>
                  {% endfor -%}
                </ul>
              </li>
              {% else -%}
              <li><a class="dropdown-item {{iif(page.pagename == drop.url,'active')}}"
                  href="{{get_url(drop.url)}}">{{ drop.name }}</a></li>
              {% endif -%}
              {% endif -%}
              {% endfor -%}
            </ul>
          </li>
          {% else -%}
          <li class="nav-item">
            <a class="nav-link {{iif(page.pagename == item.url,'active')}} " aria-current="page"
              href="{{get_url(item.url)}}">{{ item.name }}</a>
          </li>
          {% endif -%}
          {% endif -%}
          {% endfor -%}
        </ul>
        {% if navbar_search %}
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% endif -%}
      </div>
    </div>
  </nav>
</div>
{%include "include/hero.html" -%}
