@import "bootswatch/_variables";
@import "variables";

// theme widgets
@import "theme/widgets";

// global

body {
  min-height: 75rem;
  // adjust according to navbar height
  padding-top: 4.5em;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: $brand-color;
}


