{% if page %}
<footer class="footer">
    <div class="container">
        <hr>
        <span class="text-muted"> <i>{{slogan}}</i> </span>
        <p style="color: goldenrod;">A custom footer...</p>
        <p>Page last updated on {{ page.date.strftime('%Y-%m-%d') }}</p>
    </div>
</footer>
{% endif %}
