@for $i from 1 through 10 {
  .fs-accordion-#{$i * 5} {
    .accordion-item {
      border: 1px solid rgba(0, 0, 0, 0.125);
      &:not(:first-of-type) {
        border: 1px solid rgba(0, 0, 0, 0.125);
      }
      margin-bottom: #{$i * 5}px;
    }
  }
}
