// divider
.divider {
  min-height: 1rem;
  height: auto;
  text-align: center;
}

// adjust height
@for $i from 5 through 20 {
  .divider-#{$i * 10} {
    min-height: #{$i * 10}px;
    height: auto;
  }
}

.divider-shadow {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 4px 0 4px;
  padding: 4px 0 4px;
  box-shadow: inset 0 0 0.5em #888888;
  border-radius: 0.5rem;
  h2 {
    color: $brand-color;
  }
  h3 {
    color: $accent;
  }
}
