@for $i from 1 through 5 {
  .imgrow-round-left-#{$i * 10} {
    border-radius: #{$i * 10}px;
    img {
      border-radius: #{$i * 10}px 0 0 #{$i * 10}px;
    }
  }
  .imgrow-round-right-#{$i * 10} {
    border-radius: #{$i * 10}px;
    img {
      border-radius: 0 #{$i * 10}px #{$i * 10}px 0;
    }
  }
}

