// parralax effect
.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accent {
  color: $accent;
}

.thin-border {
  border: 1px solid;
  padding: 16px;
}

// rounded images with padding
@for $i from 0 through 10 {
  .rounded-circle-#{$i * 10} {
    border-radius: 50% !important;
    padding: #{$i * 10}px;
  }
}

// bootstrap grid system do not allow margin left and right so we add an
// transparent border (from 5 to 50 px)
@for $i from 1 through 10 {
  .grid-border-#{$i * 5} {
    border: #{$i * 5}px solid transparent;
  }
}

// shadow with top left light
@for $i from 1 through 10 {
  .shadow-right-#{$i * 5} {
    box-shadow: #{$i * 5}px #{$i * 5}px #{$i * 5}px 0 rgba(0, 0, 0, 0.4);
  }
}

// symmetric shadow
@for $i from 1 through 10 {
  .shadow-center-#{$i * 5} {
    box-shadow: 0px 0px #{$i * 5}px 0 rgba(0, 0, 0, 0.4);
  }
}

// rounded borders
@for $i from 1 through 10 {
  .border-round-#{$i * 5} {
    border-radius: #{$i * 10}px;
  }
}

// hover brightness from 50% to 150% 100 = no modification
@for $i from 5 through 15 {
  .hbright-#{$i * 10}:hover {
    -webkit-filter: brightness(#{$i * 0.1});
    -moz-filter: brightness(#{$i * 0.1});
    -o-filter: brightness(#{$i * 0.1});
    -ms-filter: brightness(#{$i * 0.1});
    filter: brightness(#{$i * 0.1});
  }
}
