{# blog_list

List the tags or categories of current page.

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: set additional classes for the widget
  text: text title of list of tags
  pages: type of pages to search can be "tags" or "categories"
  list: list of tags or categories to search
  empty_ok: if list of tags of current page is empty all recognized tags are displayed
-#}
{%include "include/widget_style.html" -%}
<div class="{{widget.class}}" id="{{widget.id}}">
  {%- set query = query_blog(categories=widget.list or page.blog.categories, tags=widget.list or page.blog.tags, empty_ok=widget.empty_ok) -%}
  {%- set pages = query[iif(widget.pages == 'categories',1,2)] -%}
  {%- if len_list(pages) -%}
    {{widget.text}}
    {%-for k in pages -%}
      {{ k }} ({{ len_list(pages[k]) }}) <br>
      {%- for i in pages[k] %}
        <a href="{{ get_url(i.pagename) }}">{{ i.title }}</a>
      {%- endfor -%}
      <br>
    {%- endfor -%}
  {%- endif -%}
</ul>
