{# Cars

Display a list of cards on a define number of columns

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: set additional classes for the widget
  columns: number of columns. Default 3
  gallery: if true activates fslightbox gallery
  tags: required, recognized: "image_class" "shadow" "border" "horizontal" "animate"
  cards: list of cards to display
    style: additional css style rules for this card
    class: set additional classes for this card
    header: set some text for an header
    title: a text for title
    footer: set some text for a footer
    image: image url (from media path)
    image_alt: alt text for image
    icon: instead of image you can insert some html to show an icon
    align: alignment for content can be "text-center" or "text-end". Default centered
    text: text or content for slide

-#}
{%include "include/widget_style.html" -%}
<div id="{{widget.id}}">
    <div class="row row-cols-md-{{widget.columns or 3}} g-0 {{widget.class}}">
        {% for i,item in enum_list(widget.cards) -%}
        <div class="col {{item.col_class}} {{widget.tags.border or ''}} {{widget.tags.animate or ''}}">
            <div class="card h-100 {{widget.tags.shadow or ''}} {{item.class}}" style="{{item.style}}">

                {% if item.header -%}
                <div class="card-header bg-transparent">{{item.header|safe}}</div>
                {% endif -%}

                {% if widget.tags.horizontal -%}
                <div class="row g-0">
                <div class="col-md-4">
                {% endif -%}

                {% if item.image -%}
                {% if widget.gallery -%}<a data-fslightbox="{{widget.id}}" href="{{get_media(item.image)}}">{% endif -%}
                <img src="{{get_media(item.image)}}" class="card-img-top {{widget.tags.image_class or ''}}" alt="{{item.image_alt}}">
                {% if widget.gallery -%}</a>{% endif -%}
                {% endif -%}

                {% if item.icon -%}
                <div class="text-center">
                    {{item.icon|safe}}
                </div>
                {% endif -%}

                {% if widget.tags.horizontal -%}
                </div>
                <div class="col-md-8">
                {% endif -%}

                <div class="card-body {{widget.tags.body or ''}} {{item.align}}">
                    {% if item.title %} <h3 class="card-title">{{item.title}}</h3> {% endif -%}
                    {{item.text|safe}}
                </div>

                {% if widget.tags.horizontal -%}
                </div>
                </div>
                {% endif -%}

                {% if item.footer -%}
                <div class="card-footer bg-transparent">{{item.footer|safe}}</div>
                {% endif -%}

            </div>
        </div>
        {% endfor -%}
    </div>
</div>
