{# grid

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: set additional classes for the widget

-#}
{%include "include/widget_style.html" -%}
<div id="{{widget.id}}">
  <div class="row {{widget.class}}">
    {% for col in widget.columns -%}
      <div class="col-md-{{col.column or 12}} {{widget.tags.col_class or ''}}" style="{{widget.tags.col_style or ''}}">
      <div class="{{widget.tags.text_class or ''}}"  style="{{widget.tags.text_style or ''}}">
        {{col.text|safe}}
      </div>
      </div>
    {% endfor %}
  </div>
</div>

