{# Image row

A row with a text and a image on the left or on the right

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: set additional classes for the widget
  tags: required, recognized: "rounded" "wow_text" "wow_img" "text_style"
  left: number 1 to 11 for left side of bootstrap grid system.
  img_right: if true the image will be placed on right side
  align: alignment for content can be "text-center" or "text-end". Default left
  title: title for widget
  image: image url (from media path)
  image_alt: alt text for image
  icon: instead of image you can insert some html to show an icon
  text: text or content to place on bigger part of the grid

-#}
{%include "include/widget_style.html" -%}
<div id="{{widget.id}}" class="{{widget.class}}">
  <div class="row">

    {% if widget.img_right %}
    <div style="{{widget.tags.text_style or ''}}" class="col-md-{{widget.left}} {{widget.align}} {{widget.tags.wow_text or ''}}">
      {% if widget.title %} <h2>{{widget.title}}</h2> {% endif %}
      {{widget.text|safe}}
    </div>
    <div class="col-md-{{12-widget.left}}">
      {% if widget.image %}
      <img src="{{get_media(widget.image)}}"  class="{{widget.tags.rounded or ''}} {{widget.tags.wow_img or ''}}" width="100%" alt="{{widget.image_alt}}">
      {% endif %}
      {% if widget.icon %}
      <div class="text-center">
          {{widget.icon|safe}}
      </div>
      {% endif %}
    </div>

    {% else %}

    <div class="col-md-{{widget.left}}">
      {% if widget.image %}
      <img src="{{get_media(widget.image)}}"  class="{{widget.tags.rounded or ''}} {{widget.tags.wow_img or ''}}" width="100%" alt="{{widget.image_alt}}">
      {% endif %}
      {% if widget.icon %}
      <div class="text-center">
          {{widget.icon|safe}}
      </div>
      {% endif %}
    </div>
    <div style="{{widget.tags.text_style or ''}}" class="col-md-{{12-widget.left}} {{widget.align}} {{widget.tags.wow_text or ''}}">
      {%- if widget.title -%} <h2>{{widget.title}}</h2> {%- endif -%}
      {{widget.text|safe}}
    </div>
    {% endif %}

  </div>
</div>
