{# modal

Open modal dialog

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: set additional classes for the widget
  text: text or content

-#}
{%include "include/widget_style.html" -%}

<div class="modal fade {{widget.class}}" id="{{widget.id}}" tabindex="-1" aria-labelledby="aria-{{widget.id}}" aria-hidden="true">
  <div class="modal-dialog {{widget.modal_class}}">
    <div class="modal-content">
      {% if widget.header -%}
      <div class="modal-header">
        <h5 class="modal-title" id="aria-{{widget.id}}">{{widget.header}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {% endif -%}
      <div class="modal-body">
        {{widget.text|safe}}
      </div>
      {% if widget.buttons -%}
      <div class="modal-footer">
        {% for button in widget.buttons -%}
        {{button|safe}}
      {% endfor -%}
      </div>
      {% endif -%}
    </div>
  </div>
</div>

{#
<div id="{{widget.id}}" class="{{widget.class}}">
    {{widget.text|safe}}
</div>
#}